*{
    background: #202124;
    color: white;
    
}
.input-field {
    margin: 20px auto;
    display: flex;
}
label {
    width: 150px;
    margin-right: 20px;
}
.input-field input {
    display: inline-block;
    width: 100%;
    height: 25px;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 10px;
}
.advanced-form {
    font-size: 16px;
    margin: 40px;
}
#search-btn {
    width: 150px;
    font-size: 14px;
    padding: 15px;
    background-color: #aecbfa;
    color: black;
    margin: 10px 0;
}
.submit-btn {
    float: right;
}
.body {
    max-width: 750px;
}
.advanced-h1 {
    color: #d93025;
    font-size: 25px;
    margin: 25px 35px;
}
.line {
    border-bottom: 1px solid #ebebeb;
}
.navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16px;
}
.navbar-item{
    margin: 10px;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}